head{background-color: #fefaf5;text-decoration:#055257;}
nav{text-decoration: none; text-align:justify; flex-wrap: wrap; flex-direction: row;}
ul{text-decoration: none;
    list-style: none;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;}
li{padding: 6px}

main{background-color:#fefaf5;}
h1 {color:#055257; text-align: center;}
p{text-align: center;}
ul{text-decoration: none;
text-align: justify;
}
.bajo{color:#46484c;}

button{color:#ffffff; 
    background-color: #055257;
    border-color:#8b8b8bcc;
    border-radius:4px; 
}
#promo{color:#8b8b8bcc}

input{border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    overflow: visible;
    color: #055257;
margin:0px;
align-items: center;}


